* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: Arial, sans-serif;

    background: #f4f1f7;
}


/* CABEÇALHO */

.cabecalho {
    background: #831a91;

    padding: 18px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.cabecalho h1 {
    color: white;
    font-size: 26px;
}

.cabecalho a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}


/* CONTEÚDO */

main {
    flex: 1;

    padding: 45px 25px;
}


/* TÍTULO */

.titulo {
    text-align: center;
    margin-bottom: 40px;
}

.titulo h2 {
    color: #831a91;
    font-size: 30px;
    margin-bottom: 10px;
}

.titulo p {
    color: #555;
    font-size: 17px;
}


/* ÁREA DOS CARDS */

.cards {
    max-width: 1100px;
    margin: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 30px;
}


/* CARD */

.cartao {
    width: 240px;
    height: 310px;

    perspective: 1000px;
}


/* PARTE QUE GIRA */

.cartao-interno {
    width: 100%;
    height: 100%;

    position: relative;

    transition: transform 0.8s;

    transform-style: preserve-3d;
}


/* QUANDO PASSAR O MOUSE */

.cartao:hover .cartao-interno {
    transform: rotateY(180deg);
}


/* FRENTE E VERSO */

.cartao-frente,
.cartao-verso {
    width: 100%;
    height: 100%;

    position: absolute;

    padding: 25px;

    border-radius: 18px;

    background: white;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    backface-visibility: hidden;
}


/* NÚMERO */

.numero {
    position: absolute;

    top: 15px;
    right: 18px;

    color: #831a91;

    font-weight: bold;
}


/* ÍCONE */

.icone {
    font-size: 55px;
    margin-bottom: 15px;
}


/* FRENTE */

.cartao-frente h3 {
    color: #831a91;

    font-size: 18px;

    margin-bottom: 12px;
}

.cartao-frente p {
    color: #333;

    font-size: 16px;

    line-height: 1.4;
}


/* VERSO */

.cartao-verso {
    transform: rotateY(180deg);

    background: #ffffff;
}

.cartao-verso .icone {
    font-size: 45px;
}

.cartao-verso p {
    color: #333;

    font-size: 15px;

    line-height: 1.5;

    margin-top: 15px;
}


/* RESPOSTA */

.resposta {
    font-size: 19px;

    font-weight: bold;
}

.verdadeiro {
    color: #16803c;
}

.falso {
    color: #d62828;
}


/* RODAPÉ */

footer {
    background: #457fae;

    color: white;

    text-align: center;

    padding: 18px;
}