* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f2f2;
    font-family: Arial, sans-serif;
}

/* CABEÇALHO */
.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #831a91;
}

h1 {
    color: #ffffff;
    font-size: 24px;
}

.cabecalho-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* CONTEÚDO */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.introducao {
    text-align: center;
    margin-bottom: 30px;
}

.introducao h2 {
    color: #831a91;
    font-size: 28px;
    margin-bottom: 10px;
}

.introducao p {
    color: #555;
}

/* ÁREA DOS CARDS */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* CARD */
.cartao {
    width: 260px;
    height: 320px;
    perspective: 1000px;
}

.cartao-interno {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* FAZ O CARD VIRAR */
.cartao:hover .cartao-interno {
    transform: rotateY(180deg);
}

/* FRENTE E VERSO */
.cartao-frente,
.cartao-verso {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

/* IMAGEM */
.cartao-imagem {
    width: 140px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* FRENTE */
.cartao-frente h3 {
    color: #831a91;
    margin-bottom: 10px;
}

.cartao-frente p {
    color: #333;
    font-size: 16px;
}

.numero {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #831a91;
    font-weight: bold;
}

/* VERSO */
.cartao-verso {
    transform: rotateY(180deg);
}

.cartao-verso p {
    color: #333;
    font-size: 16px;
    line-height: 1.4;
}

.resposta {
    font-size: 20px;
    font-weight: bold;
    color: #831a91;
    margin-bottom: 15px;
}

/* RODAPÉ */
footer {
    background-color: #457fae;
    padding: 15px 25px;
    color: white;
    text-align: center;
}